.btnLogin:hover {
  color: var(--white-100);
  background-image: url(../sources/login-hover.svg);
}
input.inputBtn:hover {
  transition: 0.2s ease-in-out;
  background: var(--green-400);
  color: var(--orange-400);
}
