body h1 {
  z-index: 1;
}
body h2 {
  z-index: 1;
}
body p {
  z-index: 1;
}
body a {
  z-index: 1;
}
input {
  z-index: 100;
}
textarea {
  z-index: 3;
}
body img {
  z-index: 1;
}
body iframe {
  z-index: 1;
}
body {
  z-index: auto;
}
body div {
  z-index: auto;
}
body section {
  z-index: auto;
}
body article {
  z-index: auto;
}
body footer {
  z-index: auto;
}
